@font-face {
  font-family: "font 1";
  src: url(../asset/fonts/BERNIERRegular-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "font 1", sans-serif;
}

html {
  font-size: 62.5%;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-family: "font 1", sans-serif;
  color: #F6F6F6;
  background: linear-gradient(180deg, rgba(8, 11, 19, 0.75) 0%, #080b13 89%), url("../asset/femme.jpg"), fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 52%;
  max-width: 1000px;
  margin: auto;
}

li {
  list-style-type: none;
  font-size: 35px;
}

a {
  text-decoration: none;
}

p {
  font-family: "karla", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
header h1 {
  width: 100%;
  text-align: center;
  margin-top: 21rem;
}
header p {
  margin: 2rem;
}

nav {
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(1, 1, 1) 100%) rgba(0, 0, 0, 0.6509803922);
  color: #000309;
  justify-content: center;
  position: absolute;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
}
nav li {
  margin-right: 4rem;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
  margin-left: 3rem;
  position: relative;
}
nav .deroulant {
  opacity: 0;
  display: none;
  flex-direction: column;
}
nav .deroulant li {
  margin: unset;
}
nav .menu {
  cursor: pointer;
}
nav .menu:hover .deroulant,
nav .menu .deroulant:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#banniere {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border-radius: 1rem;
  margin: 2rem;
  padding: 3rem;
  border: solid rgba(53, 50, 50, 0);
  background-color: #0f0e0e;
}
#banniere h2 {
  width: 100%;
  font-size: 38px;
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
#banniere #slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 350px;
}
#banniere #slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
#banniere #precedent, #banniere #suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: #F6F6F6;
  padding: 10px;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
#banniere #precedent {
  left: 0;
}
#banniere #suivant {
  right: 0;
}
#banniere #slider:hover #precedent,
#banniere #slider:hover #suivant {
  opacity: 1;
}

.description {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(1, 1, 1) 100%) rgba(0, 0, 0, 0.6509803922);
}
.description h2 {
  margin: 2rem;
}
.description img {
  width: 75px;
  height: auto;
}
.description .titre {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.tipos {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.tipos h2 {
  width: 100%;
  text-align: center;
}
.tipos h3 {
  margin-top: 3rem;
}
.tipos p {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.minimalista {
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/minimalista.jpg);
  background-color: #1a1e28;
  background-position: right;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.minimalista h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 41%;
}
.minimalista p {
  text-align: inherit;
}

.realismo {
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/realismo.jpg);
  background-color: #1a1e28;
  background-position: center;
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.realismo h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 32%;
}
.realismo p {
  text-align: inherit;
}

.tribal {
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/tribal.jpg);
  background-color: #1a1e28;
  background-position: left, top;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.tribal h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 24%;
}
.tribal p {
  text-align: inherit;
}

.cover {
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  background-color: rgba(7, 8, 10, 0.3882352941);
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}
.cover .bloc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.cover h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 22%;
}
.cover p {
  text-align: inherit;
}
.cover img {
  width: 75px;
  height: auto;
  position: absolute;
  top: 3rem;
  right: 4rem;
}

#artistas {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  width: 100%;
  background: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  color: black;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
#artistas h2 {
  width: 100%;
  font-size: 32px;
  margin-bottom: 1rem;
  text-align: center;
}
#artistas article {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 1rem;
  text-align: center;
  width: 35%;
  height: 70%;
  position: relative;
}
#artistas article:hover {
  transform: scale(1.01);
}
#artistas h3 {
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  height: 100%;
  position: absolute;
  padding: 10px;
}
#artistas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#artistas .fa-instagram {
  font-size: 40px;
  color: #F6F6F6;
  position: absolute;
  bottom: 20px;
  left: 10px;
  margin-left: 10px;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
#artistas .fa-facebook {
  font-size: 40px;
  color: #F6F6F6;
  position: absolute;
  bottom: 20px;
  left: 60px;
  margin-left: 10px;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
#artistas a {
  display: flex;
  justify-content: space-around;
  font-family: "karla", sans-serif;
  height: 100%;
}
#artistas p {
  font-family: "font 1", sans-serif;
  margin: 1rem;
}

#portafolio {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border-radius: 1rem;
  margin: 2rem;
  padding: 3rem;
}
#portafolio h2 {
  width: 100%;
  font-size: 38px;
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
#portafolio #slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 350px;
}
#portafolio #slide {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
#portafolio #precedent, #portafolio #suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: #F6F6F6;
  padding: 10px;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
#portafolio #precedent {
  left: 0;
}
#portafolio #suivant {
  right: 0;
}
#portafolio #slider:hover #precedent,
#portafolio #slider:hover #suivant {
  opacity: 1;
}

.infos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.infos img {
  border-radius: 1rem;
  width: 85%;
  height: 400px;
  object-fit: cover;
}
.infos article {
  display: flex;
  background-color: #1a1e28;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.07) 0%, rgba(1, 1, 1, 0.7) 100%);
  background-color: rgba(7, 8, 10, 0.3882352941);
  align-items: center;
}
.infos .bloc {
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 400px;
}
.infos h2 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
}
.infos p {
  text-align: inherit;
  padding: 5px;
}
.infos .icon {
  width: 75px;
  height: auto;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  margin: 2rem;
}
.contact .separation {
  border-bottom-style: solid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-color: #783a1d;
}
.contact i {
  padding-right: 1rem;
  font-size: 30px;
}
.contact p {
  padding-bottom: 1rem;
}
.contact h2 {
  padding-bottom: 1rem;
}

footer {
  width: 100%;
  margin: 2rem;
}
footer p {
  font-size: 10px;
  padding-bottom: 5px;
}
footer .mention {
  font-family: "karla", sans-serif;
}

.aviso {
  background-image: none;
  background-color: black;
}
.aviso .information {
  display: flex;
  flex-direction: column;
}
.aviso .information h1 {
  font-family: "karla", sans-serif;
  margin-bottom: 2rem;
  border-bottom-style: solid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-color: #783a1d;
}
.aviso .information h2 {
  font-family: "karla", sans-serif;
  margin-bottom: 2rem;
  border-bottom-style: solid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-color: #783a1d;
}
.aviso .information h3 {
  font-family: "karla", sans-serif;
  margin-bottom: 2rem;
  border-bottom-style: solid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-color: #783a1d;
}
.aviso .information li {
  font-family: "karla", sans-serif;
  font-size: 20px;
  margin-bottom: 1rem;
}
.aviso article {
  margin: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aviso .contact article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  margin: 2rem;
}

.propos {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  width: 100%;
  background: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  color: black;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.propos h2 {
  width: 100%;
  font-size: 32px;
  margin-bottom: 1rem;
  text-align: center;
}
.propos article {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 1rem;
  text-align: center;
  width: 35%;
  height: 70%;
  position: relative;
}
.propos h3 {
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  height: 100%;
  position: absolute;
  padding: 10px;
}
.propos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.propos a {
  display: flex;
  justify-content: space-around;
  font-family: "karla", sans-serif;
  font-size: 28px;
}
.propos p {
  font-family: "font 1", sans-serif;
  margin: 1rem;
  position: absolute;
  left: 10px;
  top: 4rem;
  right: 10px;
}

.propos {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  width: 100%;
  background: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  color: black;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.propos h2 {
  width: 100%;
  font-size: 32px;
  margin-bottom: 1rem;
  text-align: center;
}
.propos article {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 1rem;
  text-align: center;
  width: 35%;
  height: 70%;
  position: relative;
}
.propos h3 {
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  height: 100%;
  position: absolute;
  padding: 10px;
}
.propos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.propos a {
  display: flex;
  justify-content: space-around;
  font-family: "karla", sans-serif;
  font-size: 28px;
}
.propos p {
  font-family: "font 1", sans-serif;
  margin: 1rem;
  position: absolute;
  left: 10px;
  top: 4rem;
  right: 10px;
}

.to-top {
  background-color: rgba(0, 0, 0, 0.3803921569);
  position: fixed;
  bottom: 16px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  border: 1px solid #783a1d;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
