@charset "UTF-8";
@font-face {
  font-family: "font 1";
  src: url(../asset/fonts/BERNIERRegular-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "font 1", sans-serif;
}

html {
  font-size: 62.5%;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-family: "font 1", sans-serif;
  color: #F6F6F6;
  background: linear-gradient(180deg, rgba(8, 11, 19, 0.75) 0%, #080b13 89%), url("../asset/femme.webp"), fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 52%;
  max-width: 1000px;
  margin: auto;
  overflow-x: hidden;
}

li {
  list-style-type: none;
  font-size: 35px;
}

a {
  text-decoration: none;
}

p {
  font-family: "karla", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 25px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  padding: 3rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(1, 1, 1) 100%) rgba(0, 0, 0, 0.6509803922);
  color: #000309;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
nav a {
  transition: 0.7s ease;
}
nav a:hover {
  color: #783a1d;
}
nav ul {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
}
nav li {
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
  transition: 0.7s ease;
}
nav li:hover {
  color: #783a1d;
}
nav .deroulant {
  opacity: 0;
  display: none;
  flex-direction: column;
}
nav .deroulant li {
  margin: unset;
  font-size: 28px;
}
nav .deroulant a {
  font-family: "karla", sans-serif;
  transition: 0.7s ease;
}
nav .deroulant a:hover {
  color: #783a1d;
}
nav .menu {
  cursor: pointer;
}
nav .menu:hover .deroulant,
nav .menu .deroulant:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}
nav .query {
  display: none;
}
nav .query span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
main h1 {
  width: 100%;
  text-align: center;
  margin-top: 24rem;
}
main .para {
  margin: 2rem;
}

.banniere {
  width: 100%;
}
.banniere #banniere {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border-radius: 1rem;
  margin: 2rem;
  padding: 3rem;
  border: solid rgba(53, 50, 50, 0);
  background-color: #0f0e0e;
}
.banniere #banniere h2 {
  width: 100%;
  font-size: 38px;
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
.banniere #banniere #slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  mix-blend-mode: luminosity;
}
.banniere #banniere #slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.banniere #banniere #precedent, .banniere #banniere #suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: #F6F6F6;
  padding: 10px;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
.banniere #banniere #precedent {
  left: 0;
}
.banniere #banniere #suivant {
  right: 0;
}
.banniere #banniere #slider:hover #precedent,
.banniere #banniere #slider:hover #suivant {
  opacity: 1;
}
.banniere #banniere .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.banniere #banniere .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  cursor: pointer;
}
.banniere #banniere .dot.active {
  background: rgb(32, 32, 32);
}

.description {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(1, 1, 1) 100%) rgba(0, 0, 0, 0.6509803922);
}
.description h2 {
  margin: 2rem;
}
.description img {
  width: 75px;
  height: auto;
}
.description .titre {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.tipos {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.tipos article {
  opacity: 0.7;
}
.tipos article:hover {
  opacity: 1;
  transition: opacity 0.4s ease;
  transform: scale(1.01);
}
.tipos h2 {
  width: 100%;
  text-align: center;
}
.tipos h3 {
  margin-top: 3rem;
}
.tipos p {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.tipos .bloc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.tipos .bloc p {
  text-align: inherit;
}
.tipos img {
  width: 75px;
  height: auto;
  position: absolute;
  top: 3rem;
  right: 4rem;
}
.tipos .cover {
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  background-color: rgba(7, 8, 10, 0.3882352941);
  position: relative;
}
.tipos .cover h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 100%;
}
.tipos .minimalista {
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/minimalista.webp);
  background-color: #1a1e28;
  background-position: right;
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.tipos .minimalista h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 100%;
}
.tipos .tribal {
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/tribal.webp);
  background-color: #1a1e28;
  background-position: left, top;
}
.tipos .tribal h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 100%;
}
.tipos .realismo {
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/lion.webp);
  background-color: #1a1e28;
  background-position: center;
}
.tipos .realismo h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 100%;
}
.tipos .dimension {
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/realismo.webp);
  background-color: #1a1e28;
  background-position: right;
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.tipos .dimension h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 100%;
}
.tipos .mandalas {
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/mandala.webp);
  background-color: #1a1e28;
  background-position: right;
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.tipos .mandalas h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 100%;
}
.tipos .diseño {
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%), url(../asset/diseno.webp);
  background-color: #1a1e28;
  background-position: left;
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.tipos .diseño h3 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 100%;
}

#artistas {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 3rem 0 0 0;
  margin: 2rem 1rem 3rem 1rem;
  border-radius: 1rem;
  width: 100%;
  background: linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  color: black;
}
#artistas h2 {
  width: 100%;
  font-size: 32px;
  text-align: center;
}
#artistas article {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  width: 45%;
  height: 70%;
  position: relative;
  /*mix-blend-mode: luminosity;*/
  padding: 0 2rem 0 2rem;
}
#artistas article:hover {
  transform: scale(1.01);
}
#artistas h3 {
  width: 100%;
  text-align: center;
  /*background:$degrade;*/
  height: 100%;
  position: absolute;
  padding: 10px;
}
#artistas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#artistas .fa-instagram {
  font-size: 40px;
  color: #F6F6F6;
  position: absolute;
  bottom: 10%;
  left: 10%;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
#artistas .fa-facebook {
  font-size: 40px;
  color: #F6F6F6;
  position: absolute;
  bottom: 10%;
  left: 25%;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
#artistas a {
  display: flex;
  justify-content: space-around;
  font-family: "karla", sans-serif;
  height: 100%;
  width: 100%;
}
#artistas p {
  font-family: "font 1", sans-serif;
  margin: 1rem;
}

.infos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.infos img {
  border-radius: 1rem;
  width: 85%;
  height: 400px;
  object-fit: cover;
}
.infos article {
  display: flex;
  background-color: #1a1e28;
  padding: 1.5rem;
  margin: 2rem 1rem 3rem 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.07) 0%, rgba(1, 1, 1, 0.7) 100%);
  background-color: rgba(7, 8, 10, 0.3882352941);
  align-items: center;
  width: 100%;
}
.infos .bloc {
  width: 50%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 15px;
  border-radius: 1rem;
  height: 400px;
  min-width: 280px;
}
.infos h2 {
  text-align: inherit;
  font-size: 30px;
  margin-bottom: 2rem;
}
.infos p {
  text-align: inherit;
  padding: 5px;
}
.infos .icon {
  width: 75px;
  height: auto;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  margin: 2rem;
}
.contact .separation {
  border-bottom-style: solid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-color: #783a1d;
}
.contact i {
  padding-right: 1rem;
  font-size: 30px;
}
.contact p {
  padding-bottom: 1rem;
}
.contact h2 {
  padding-bottom: 1rem;
}

footer {
  width: 100%;
  margin: 2rem;
}
footer p {
  font-size: 10px;
  padding-bottom: 5px;
}
footer .mention {
  font-family: "karla", sans-serif;
}

.aviso {
  background-image: none;
  background-color: black;
}
.aviso main {
  margin-top: 15rem;
}
.aviso .information {
  display: flex;
  flex-direction: column;
}
.aviso .information h1 {
  font-family: "karla", sans-serif;
  margin-bottom: 2rem;
  border-bottom-style: solid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-color: #783a1d;
}
.aviso .information h2 {
  font-family: "karla", sans-serif;
  margin-bottom: 2rem;
  border-bottom-style: solid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-color: #783a1d;
}
.aviso .information h3 {
  font-family: "karla", sans-serif;
  margin-bottom: 2rem;
  border-bottom-style: solid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-color: #783a1d;
}
.aviso .information li {
  font-family: "karla", sans-serif;
  font-size: 20px;
  margin-bottom: 1rem;
}
.aviso article {
  margin: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aviso .contact article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  margin: 2rem;
}

.adrian {
  width: 100%;
}
.adrian .propos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}
.adrian .propos .titre {
  width: 100%;
  padding: 10px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
.adrian .propos .pintura h1 {
  width: 27%;
}
.adrian .propos .graffiti h1 {
  width: 11%;
}
.adrian .propos .estefa h1 {
  width: 13%;
}
.adrian .propos .adri h1 {
  width: 10%;
}
.adrian .propos h1 {
  font-size: 32px;
  margin-bottom: 1rem;
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 22%;
}
.adrian .propos article {
  width: 45%;
  padding: 0 1rem 0 1rem;
}
.adrian .propos h3 {
  margin-bottom: 5px;
}
.adrian .propos img {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  /* mix-blend-mode: luminosity;*/
  object-fit: cover;
}
.adrian .propos a {
  margin-left: 5px;
  transition: 0.7s ease;
}
.adrian .propos a:hover {
  color: #783a1d;
}
.adrian .propos .lien {
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.adrian .propos .lien .fa-youtube {
  font-size: 45px;
}
.adrian .propos .lien i {
  font-size: 40px;
  transition: 0.7s ease;
  margin-right: 2rem;
}
.adrian .propos .lien i:hover {
  color: #783a1d;
}
.adrian #portafolio {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.adrian #portafolio article {
  border-radius: 15px;
  width: 30%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5098039216);
  padding: 3rem;
  margin-bottom: 5rem;
}
.adrian #portafolio article:hover {
  transform: scale(1.01);
}
.adrian #portafolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.adrian #portafolio .titre {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.adrian #portafolio h1 {
  border-color: #783a1d;
  border-bottom-style: solid;
  width: 15%;
}

.to-top {
  background-color: rgba(0, 0, 0, 0.3803921569);
  position: fixed;
  bottom: 16px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  border: 1px solid #783a1d;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

@media (max-width: 370px) {
  header nav .deroulant a {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .lightbox.active .close {
    top: 60px;
  }
  .lightbox.active .contenu {
    width: 80%;
    top: 90px;
  }
  .lightbox.active .contenu img {
    height: 450px;
  }
  p {
    font-size: 18px;
  }
  header nav {
    width: 100%;
    margin-left: unset;
    padding-left: unset;
    margin-right: unset;
    padding-right: unset;
    position: fixed;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    height: 20px;
    border-radius: unset;
    z-index: 1;
  }
  header nav .deroulant li {
    margin-left: 15px;
    padding: unset;
  }
  header nav .border {
    position: fixed;
    top: 20px;
    left: -80px;
    transform: translateX(-125%);
    transition: transform 0.5s ease-in;
  }
  header nav .border.active {
    --size:400px;
    transform: translateX(0%);
    width: 100%;
    height: 70%;
    background-color: black;
    border-radius: 0 0 100% 0;
    animation: navAnim 2s ease-in;
  }
  header nav .nav-links {
    flex-direction: column;
    transform: translateX(-125%);
    transition: transform 0.5s ease-in;
    position: fixed;
    top: 60px;
    padding-top: 2rem;
    align-items: flex-start;
    padding-left: 2rem;
    display: none;
  }
  header nav .nav-links.active {
    transform: translateX(0%);
    display: block;
  }
  header nav .nav-links li {
    opacity: 0;
  }
  header nav .query {
    display: block;
    cursor: pointer;
    position: fixed;
    left: 2rem;
    z-index: 1;
    top: 10px;
  }
  header h1 {
    margin-top: 10rem;
  }
  header li {
    margin: unset;
    width: 50%;
    font-size: 28px;
    padding: 5px;
  }
  header a {
    font-size: 28px;
  }
  header p {
    text-align: center;
  }
  @keyframes navAnim {
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-125px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggle .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .bar2 {
    opacity: 0;
  }
  .toggle .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  #banniere #slider {
    width: 100%;
    height: 280px;
  }
  .tipos article {
    opacity: 1;
  }
  .tipos .texte {
    opacity: 0.2;
  }
  .tipos .minimalista {
    width: 100%;
    height: auto;
  }
  .tipos .minimalista:hover .texte,
  .tipos .minimalista .texte:hover {
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  .tipos .minimalista .underline {
    width: 140px;
  }
  .tipos .minimalista .underline h3 {
    width: 100%;
  }
  .tipos .realismo {
    width: 100%;
    height: auto;
  }
  .tipos .realismo:hover .texte,
  .tipos .realismo .texte:hover {
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  .tipos .realismo .underline {
    width: 100px;
  }
  .tipos .realismo .underline h3 {
    width: 100%;
  }
  .tipos .tribal {
    width: 100%;
    height: auto;
  }
  .tipos .tribal:hover .texte,
  .tipos .tribal .texte:hover {
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  .tipos .tribal .underline {
    width: 80px;
  }
  .tipos .tribal .underline h3 {
    width: 100%;
  }
  .tipos .dimension {
    width: 100%;
    height: auto;
  }
  .tipos .dimension:hover .texte,
  .tipos .dimension .texte:hover {
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  .tipos .dimension .underline {
    width: 140px;
  }
  .tipos .dimension .underline h3 {
    width: 100%;
  }
  .tipos .mandalas {
    width: 100%;
    height: auto;
  }
  .tipos .mandalas:hover .texte,
  .tipos .mandalas .texte:hover {
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  .tipos .mandalas .underline {
    width: 120px;
  }
  .tipos .mandalas .underline h3 {
    width: 100%;
  }
  .tipos .diseño {
    width: 100%;
    height: auto;
  }
  .tipos .diseño .underline {
    width: 70px;
  }
  .tipos .diseño .underline h3 {
    width: 100%;
  }
  .tipos .cover {
    width: 100%;
    height: auto;
  }
  .tipos .cover:hover .texte,
  .tipos .cover .underline {
    width: 70px;
  }
  .tipos .cover:hover .texte h3,
  .tipos .cover .underline h3 {
    width: 100%;
  }
  #artistas {
    flex-flow: column;
    align-items: center;
    padding: unset;
    background: unset;
    color: unset;
  }
  #artistas article {
    width: 100%;
    height: 350px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
  }
  #artistas article a {
    width: 100%;
  }
  #artistas article img {
    border-radius: 10px;
  }
  #artistas article i {
    display: none;
  }
  #tarifas {
    flex-direction: column;
    flex-wrap: wrap;
    padding: unset;
    background: unset;
    color: unset;
    margin: 0 3rem;
  }
  #tarifas img {
    width: 100%;
    height: auto;
  }
  #tarifas .bloc {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 2rem;
    margin-left: unset;
    margin-right: unset;
  }
  #tarifas .bloc img {
    width: 20%;
  }
  .contact article {
    margin: unset;
  }
  footer {
    margin: unset;
    padding: 10px;
  }
  .adrian .propos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .adrian .propos .titre {
    width: 100%;
  }
  .adrian .propos .titre h1 {
    width: 100%;
    text-align: center;
    margin-top: 7rem;
  }
  .adrian .propos .lien {
    font-size: 20px;
  }
  .adrian .propos article {
    width: 100%;
    margin-bottom: 3rem;
  }
  .adrian #portafolio {
    margin-top: 2rem;
  }
  .adrian #portafolio h1 {
    width: 100%;
    text-align: center;
    margin: 20px;
  }
  .adrian #portafolio article {
    width: 90%;
    height: 350px;
    margin-bottom: 2rem;
  }
  .aviso main {
    margin-top: 8rem;
    text-align: center;
  }
  .aviso main .information {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .aviso main .information article {
    margin: 2rem;
    padding: 10px;
  }
  .aviso main .information h1 {
    font-size: 25px;
  }
  .aviso main .information h2 {
    font-size: 20px;
  }
  .aviso main .contact article {
    margin: unset;
  }
}
.lightbox {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7882352941);
  display: flex;
  justify-content: center;
  visibility: hidden;
}
.lightbox .close {
  color: white;
  font-size: 50px;
  position: fixed;
  right: 40px;
  top: 40px;
  cursor: pointer;
}
.lightbox .contenu {
  position: fixed;
  width: 60%;
  margin: 3rem;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
.lightbox .contenu .prev, .lightbox .contenu .next {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
  position: absolute;
  font-size: 100px;
  color: #F6F6F6;
  padding: 10px;
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
.lightbox .contenu .prev {
  left: 0;
}
.lightbox .contenu .next {
  right: 0;
}
.lightbox .contenu img {
  width: 100%;
  object-fit: cover;
  height: 650px;
}
.lightbox.active {
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
