@media (max-width: 740px){
    body{
        overflow-x: hidden;
    }
    .lightbox.active{
        .close{
          top: 60px;
        }
        .contenu{
            width: 80%;
            top:90px;
             img{
                height: 450px;
             }
            }
        }
    p{
            font-size: 18px;
        }
    header{
        nav{
            width: 100%;
            margin-left: unset;
            padding-left: unset;
            margin-right: unset;
            padding-right: unset;
            position: fixed;
            background-color: black;
            flex-direction: column;
            align-items: flex-start;
            top: 0;
            height: 20px;
            border-radius: unset;
            z-index: 1;
            .deroulant{
                li{
                    margin-left: 4rem;
                    padding: unset;
                }
            }
            .border{
                position: fixed;
                top: 20px;
                left: -80px;
                transform: translateX(-125%);
                transition: transform 0.5s ease-in;
                &.active{
                    --size:400px;
                    transform: translateX(0%);
                    width: 100%;
                    height: 70%;
                    background-color: black;
                    border-radius: 0 0 100% 0;
                    animation: navAnim 2s ease-in;
                }                  
            }
            .nav-links{
                flex-direction: column;
                transform: translateX(-125%);
                transition: transform 0.5s ease-in;
                position: fixed;
                top: 60px;
                padding-top: 2rem;
                align-items: flex-start;
                padding-left: 2rem;
                display: none;
                &.active{
                    transform: translateX(0%);
                    display: block;
                 }
                li{
                    opacity: 0;
                }
                }
            .query{
                    display: block;
                    cursor: pointer;
                    position: fixed;
                    left: 2rem;
                    z-index: 1;
                }
            }
            h1{
            margin-top: 10rem;
            }li{
            margin: unset;
            width: 50%;
            font-size: 28px;
            padding: 5px;
           }a{
            font-size: 28px;
            }
            p{
                text-align: center;
            }
        } 
       
        
            @keyframes navAnim {
                50% {
                  transform: scale(1.2);
                }
                100% {
                  transform: scale(1);
                }
              }    
        @keyframes navLinkFade {
            from{
              opacity: 0;
              transform: translateX(-125px);
            }
            to{
              opacity: 1;
              transform: translateX(0px);
            }
        }
        .toggle .bar1{
            transform: rotate(-45deg) translate(-5px, 6px);
            
        }
        .toggle .bar2{
            opacity: 0;
        }
        .toggle .bar3{
            transform: rotate(45deg) translate(-5px, -6px);
            
        }
    #banniere{
       #slider{
        width: 100%;
        height: 280px;
       }
    }.tipos{
        .minimalista{
            width: 100%;
            height: auto;
        }.realismo{
            width: 100%;
            height: auto;
        }.tribal{
            width: 100%;
            height: auto;
        }.dimension{
            width: 100%;
            height: auto;
        }.mandalas{
            width: 100%;
            height: auto;
        }.diseño{
            width: 100%;
            height: auto;
        }.cover{
            width: 100%;
            height: auto;
        }
    }#artistas{
        flex-flow: column;
        align-items: center;
        padding: unset;
        background: unset;
        color: unset;
        article{
            width: 100%;
            height: 350px;
            margin-bottom: 2rem;
            margin-top: 2rem;
            border-radius: 10px;
            overflow: hidden;
            a{
                width: 100%;
            }
            img{
                border-radius: 10px;
            }i{
                display: none;
              }
        }  
    }#tarifas{
        flex-direction: column;
        flex-wrap: wrap;
        padding: unset;
        background: unset;
        color: unset;
        img{
            width: 100%;
            height: auto;
        }.bloc{
            width: 100%;
            height: auto;
            padding: 20px;
            margin-top: 2rem;
            margin-left: unset;
            margin-right: unset;
            img{
                width: 20%;
            }
        }
    }.contact article{
        margin:unset;
    }footer{
        margin: unset;
        padding: 10px;
    }.adrian{
        margin-top: 11rem;
        .propos{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
            h1{
                width: 100%;
            }.lien{
                font-size: 20px;
            }article{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 3rem;
            }
        } #portafolio{
            margin-top: 2rem;
            h1{
                width: 100%;
                text-align: center;
                margin: 20px;
            }article{
                width: 90%;
                height: 350px;
                margin-bottom: 2rem;
            }
        }
    }.aviso main{
        margin-top: 8rem;
        text-align: center;
        .information{
          justify-content: center;
          align-items: center;
          width: 100%;
            article{
            margin: 2rem;
            padding: 10px;
            }h1{
                font-size: 25px;
            }h2{
                font-size: 20px;
            }
            }
        .contact article{
            margin:unset;
        }
       }
        
  
}
@media(max-width: 350px){
    header nav .deroulant {
        a{
        font-size: 20px;
        }
        li{
            margin-left: 2.5rem;
        }
   }#banniere #precedent, #suivant{
    display: none;
   }
}