
@font-face {
        font-family:'font 1';
        src: url(../asset/fonts/BERNIERRegular-Regular.otf);
}
  $backgroundfond:url('../asset/femme.webp');
  $font-1:'font 1', sans-serif;
  $font-2:'karla',sans-serif;
  $color-white: #F6F6F6;
  $degradebox:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(1, 1, 1) 100%)#000000a6;
  $degradefond:linear-gradient(180deg,rgba(8,11,19,0.75) 0%,#080b13 89%);
  $degrade:linear-gradient(180deg, rgba(14, 14, 14, 0.7) 0%, rgba(1, 1, 1, 0.3) 100%);
  
  @mixin fondbox{
  background:$degradebox;
  color: #000309;
  }

  @mixin tiposarticle{
    @include article;
    @include border;
        margin-top: 3rem;
        margin-bottom: 3rem;
  }

  @mixin tiposh3{
    @include titrearticle;
						border-color: #783a1d;
						border-bottom-style: solid;
  }

 @mixin center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  @mixin vertical{
  display: flex;
	align-items: center;
	justify-content: center;
  }

  @mixin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @mixin margin {
    margin: 2rem;
    padding: 3rem;
}

@mixin centrage{
  width: 100%;
  text-align: center;
}

@mixin border{
    border-radius: 1rem;
    
}

@mixin article{
  width: 45%;
  background-size: cover;
  background-color: #1a1e28;
  padding: 2rem 8rem 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 500px;
}

@mixin titrearticle{
    text-align: inherit;
    font-size: 30px;
    margin-bottom: 2rem
}
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: $font-1;
	}
  
  html{
  font-size:62.5%;
   --scroll-behavior: smooth;
    scroll-behavior: smooth;

  }

  
  body {
    font-family: $font-1;
    color: $color-white;
    background: $degradefond,$backgroundfond,fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 52%;
    max-width: 1000px;
    margin: auto;
  }
  li {
    list-style-type: none;
    font-size: 35px;
}
a{
    text-decoration: none;
}
p{
    font-family: $font-2;
    font-size: 20px;
}

h1{
  font-size: 35px;
}

h2{
  font-size: 30px;
}
h3{
  font-size: 27px;
  
}
h4{
  font-size: 25px;
}
