.adrian{
    margin-top: 22rem;
    width: 100%;
    .propos{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: flex-start;
            margin-bottom: 6rem;
        h1{
            width: 100%;
            font-size: 32px;
            margin-bottom: 1rem;
            border-color: #783a1d;
            border-bottom-style: solid;
            width: 22%;
         }   
        article{
            width: 45%;
            display: flex;
            justify-content: end;
          }
        h3{
            margin-bottom: 5px;
           }
        img{
            width: 80%;
            border-radius: 15px;
            mix-blend-mode: luminosity;
        }
        a {
          margin-left: 5px;
          &:hover{
            opacity: 0.8;
            color: #783a1d;
          }
        }.lien{
            font-size: 25px ;
            padding-bottom: 10px;
            padding-top: 10px;
            }
        
    }
   
    #portafolio{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 6rem;
         article{
            border-radius: 15px;
            width: 30%;
            height: 350px;
            background-color: #00000082;
            padding: 3rem;
            margin-bottom: 5rem;
        }article:hover{
            transform: scale(1.01);
           }
         img{
            @include img;
            mix-blend-mode: luminosity;
        }.titre{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
        } 
        h1{
        border-color: #783a1d;
        border-bottom-style: solid;
        width: 15%;
        }
    }

}