#artistas{
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	padding: 3rem 0 0 0;
	margin: 2rem 1rem 3rem 1rem;
	border-radius:1rem;
	width: 100%;
	background:$degrade;
	color: black;
	
h2{
	width: 100%;
	font-size: 32px;
	text-align: center;
	
}
article{
	@include center;
	text-align: center;
	width: 45%;
	height: 70%;
	position: relative;
	/*mix-blend-mode: luminosity;*/
	padding: 0 2rem 0 2rem;
 }article:hover{
	transform: scale(1.01);
 }
h3{
	width: 100%;
	text-align: center;
	background:$degrade; 
	height: 100%;
	position: absolute;
	padding: 10px;
	

}
 img{
	@include img;
	border-radius: 5px;
	
}
.fa-instagram{
	font-size: 40px;
	color:$color-white;
	position: absolute;
	bottom: 10%;
	left: 10%;
	text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
.fa-facebook{
	font-size: 40px;
	color: $color-white;
	position: absolute;
	bottom: 10%;
	left: 25%;
	text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}

 a {
	display: flex;
	justify-content: space-around;
	font-family: $font-2;
	height: 100%;
	width: 100%;
 }

p{
	font-family: $font-1;
	margin: 1rem;
	
	
}
}

 





