.cover{
    @include article;
    background-image: $degrade;
    background-color: #07080a63;
    @include border;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    .bloc{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
    }
    h3{
    @include titrearticle;
    border-color: #783a1d;
    border-bottom-style: solid;
    width: 22%;
}
p{
    text-align: inherit
}
img{
    width: 75px;
    height: auto;
    position: absolute;
    top: 3rem;
    right: 4rem;
}

    
}