.cover{
    @include article;
    background-image: $degrade;
    background-color: #07080a63;
    @include border;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
h3{
    @include titrearticle;
    border-color: #783a1d;
    border-bottom-style: solid;
    width: 22%;
}
p{
    text-align: inherit
}

    
}