
nav{
	@include border;
	display: flex;
	flex-flow: row,nowrap;
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: 3rem;
	padding: 3rem;
	@include fondbox;
	width: 100%;
	justify-content: center;
	
	
	ul{
        display: flex;
	    flex-flow: row wrap;
     }
	 li{
        margin-right: 3rem;
        text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
		margin-left: 3rem;
     }
	 .deroulant{
		opacity: 0;
		display: flex;
		flex-direction: column;
		li{
			margin: unset;
		 }
	 }
	 .menu {
		cursor: pointer;
			&:hover .deroulant,
			.deroulant:hover {
	
		  visibility: visible;
		  opacity: 1;
		}
	}
		
	 
}
	

