
nav{
	@include border;
	display: flex;
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: 3rem;
	padding: 4rem;
	@include fondbox;
	width: 100%;
	justify-content: center;
	font-size: 35px;
	
	ul{
        display: flex;
	    flex-flow: row wrap;
     }
	 li{
        margin-right: 3rem;
        text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
		margin-left: 3rem;
     } 
}
	

