
nav{
	border-radius:0 0 1rem 1rem;
	display: flex;
	flex-flow: row nowrap;
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
	padding: 3rem;
	@include fondbox;
	justify-content: center;
	position: absolute;

	
	
	ul{
        display: flex;
	    flex-flow: row wrap;
     }
	 li{
        margin-right: 4rem;
        text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
		margin-left: 3rem;
		position: relative;
     }
	 .deroulant{
		opacity: 0;
		display: none;
		flex-direction: column;
		li{
			margin: unset;
		 }
	 }
	 .menu {
		cursor: pointer;
			&:hover .deroulant,
			.deroulant:hover {
	
		  visibility: visible;
		  opacity: 1;
		  display: flex;
		}
	}
		
}		
	
	
